*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
}

textarea,
button,
input {
    border: none;
    outline: none;
    background: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}
